@import "src/common/style/variables";

.header {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  background-color: $whiteBGColor;
  z-index: 99;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);

  .headerContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoBlock {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      img {
        height: 35px;
      }

      span {
        color: $blackColor;
        margin-left: 10px;
        font-family: Cambria, sans-serif;
        font-size: 20px;
        font-weight: 800;
        transition: color 250ms ease-in-out;

        &:hover {
          color: #366EFF;
        }
      }
    }
  }
}