@import "src/common/style/mixins";

.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .personalInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 413px;
    height: 408px;
    box-shadow: $form;
    border-radius: 2px;
    margin-top: 80px;

    h1 {
      @include text(600, 22px, 27px);
      margin-top: 27px;
    }

    .userPhotoContainer {
      margin-top: 30px;
    }

    .emailSpan {
      @include text(400, 14px, 24px);
      margin: 40px 0 25px 0;
      opacity: 0.5;
    }
  }
}
