@import "src/common/style/variables";
@import "src/common/style/mixins";

.container {
  display: flex;
  flex-direction: column;
  color: $primaryFontColor;
  width: 251px;

  span {
    margin-bottom: 5px;
    @include text(400, 14px, 24px)
  }

  .countContainer {
    display: flex;
    justify-content: space-between;

    .sliderContainer {
      width: 150px;
      display: flex;
      align-items: center;
    }

    .count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      font-size: 16px;
      border: 1px solid #4C4C4C;
      border-radius: 5px;
      background-color: $primaryBgColor;
      cursor: default;
    }
  }

}