.packsList {
  width: 1008px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 44px;

  .titleBlock {
    margin-top: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .searchBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
  }

  .paginatorContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;

    .paginator {
      display: flex;
      flex-direction: row;

    }

    .selector {
      display: flex;
      align-items: center;
    }
  }

}
