@import "src/common/style/variables";
@import "src/common/style/mixins";

.page {
  display: flex;
  justify-content: center;

  .container {
    width: 413px;
    height: 372px;
    margin-top: 120px;
    background: $whiteBGColor;
    box-shadow: $form;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      @include text(600, 26px, 32px);
      margin-top: 35px;
    }

    .form {
      width: 347px;
      display: flex;
      flex-direction: column;

      .inputPassword {
        margin-top: 65px;
      }

      p {
        position: absolute;
        top: 45px;
        font-size: 14px;
        line-height: 24px;
      }

      .helperText {
        margin-top: 35px;
        opacity: 0.5;
      }
    }
  }

}