@import "src/common/style/variables";
@import "src/common/style/mixins";

.register {
  display: flex;
  justify-content: center;

  .container {
    height: 552px;
    width: 413px;
    margin-top: 100px;
    background: $primaryBgColor;
    border: 1px solid $grayColor;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      @include text(600, 26px, 32px);
      margin-top: 35px;
    }

    .form {
      width: 347px;
      display: flex;
      flex-direction: column;

      .inputEmail {
        width: 100%;
        margin-top: 41px;
      }

      .inputPassword {
        width: 100%;
        margin-top: 24px;
      }

      .passwordConfirmation {
        width: 100%;
        margin-top: 24px;
      }

      p {
        position: absolute;
        top: 45px;
        font-size: 14px;
        line-height: 24px;
      }

      .button {
        background: $blueColor;
        color: $primaryBgColor;
        height: 36px;
        margin-top: 95px;
        box-shadow: $button;
        border-radius: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        border: none;
        cursor: pointer;
      }
    }

    .helpText {
      @include text(600, 14px, 24px);
      text-align: center;
      opacity: 0.5;
      margin-top: 25px;
    }

    .link {
      @include text(600, 16px, 24px);
      text-align: center;
      text-decoration-line: underline;
      color: $blueColor;
      margin-top: 11px;
    }
  }
}
