@import "variables";

@mixin text($fontWeight, $fontSize, $lineHigh) {
  font-family: $primaryFontFamily;
  color: $primaryFontColor;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHigh;
}