$button:  0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
$blueColor: #366EFF;
$primaryBgColor: #000000;
$primaryFontColor: #ffffff;
$primaryFontFamily: 'Montserrat', sans-serif;
$pinkColor: #8C61FF;
$orangeColor: #e66300;


//$blackColor: #171717;
//$borderColor: #4C4C4C;
//$secondaryBgColor: #171717;
//$grayColor: #333333;

$dark100: #808080;
$dark300: #4C4C4C;
$dark500: #333333;
$dark700: #171717;

$light100: #ffffff;