@import "src/common/style/variables";

.selectContainer {
  margin-top: 24px;
  width: 100%;

  label {
    color: $dark100;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
  }
}





