.packsList  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  .addPackBlock {
    display: flex;
    justify-content: space-between;
    width: 1008px;
    margin-top: 36px;
  }
}
