.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 24px;
  border-bottom: 1px solid #333333;
}

.containerChildren {
  padding: 0 24px;
}

.buttonContainer {
  padding: 12px 24px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}