@import "common/style/variables";
@import "common/style/mixins";

.page {
  display: flex;
  justify-content: center;

  .container {
    width: 420px;
    height: 384px;
    margin-top: 100px;
    background: $secondaryBgColor;
    border: 1px solid $grayColor;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      @include text(600, 26px, 32px);
      margin-top: 33px;
      padding-bottom: 20px;
    }

    .form {
      width: 348px;
      display: flex;
      flex-direction: column;


      p {
        position: absolute;
        top: 35px;
        left: -15px;
        font-size: 14px;
        line-height: 24px;
      }

      .helperText {
        @include text(400, 14px, 24px);
        margin-top: 31px;
        opacity: 0.5;
      }
    }
  }

}