@import "src/common/style/variables";
@import "src/common/style/mixins";

.loginPage {
  display: flex;
  justify-content: center;

  .formContainer {
    height: 528px;
    width: 420px;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    background: $secondaryBgColor;
    border: 1px solid $grayColor;
    border-radius: 2px;

    h1 {
      @include text(600, 26px, 32px);
      margin-top: 33px;
    }

    .form {
      width: 348px;

      .checkbox {
        display: flex;
        align-items: center;
        margin-left: -10px;
        margin-top: 12px;
        @include text(500, 14px, 17px);
        text-align: center;
      }

      .forgotPasswordLink {
        @include text(500, 14px, 17px);
        align-self: flex-end;
        margin-top: 29px;
        text-decoration: none;
        transition: color 250ms ease-in-out;

        &:hover {
          color: #366EFF;
        }
      }

      p {
        position: absolute;
        left: -15px;
        top: 35px;
      }
    }

    .dontHaveAccount {
      @include text(600, 14px, 24px);
      text-align: center;
      opacity: 0.5;
      margin-top: 20px;
    }

    .registrationLink {
      @include text(600, 16px, 24px);
      margin-top: 7px;
      text-align: center;
      text-decoration-line: underline;
      color: $pinkColor;
      transition: color 250ms ease-in-out;

      &:hover {
        color: $primaryFontColor;
      }
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $secondaryBgColor inset !important;
    -webkit-text-fill-color: white !important;
  }
}
























