.loginPage {
  display: flex;
  justify-content: center;

  .formContainer {
    height: 552px;
    width: 413px;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    .inputEmail {
      position: absolute;
      width: 100%;
      margin-top: 41px;
    }
    .inputPassword {
      position: absolute;
      width: 100%;
      margin-top: 113px;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 32px;
      color: #000000;
      margin-top: 35px;
    }

    .form {
      width: 347px;

      .checkbox {
        display: flex;
        align-items: center;
        margin-left: -10px;
        margin-top: 195px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }

      .forgotPasswordLink {
        align-self: flex-end;
        margin-top: 29px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: #000000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
    }

    .dontHaveAccount {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      opacity: 0.5;
      margin-top: 25px;
    }

    .registrationLink {
      margin-top: 11px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-decoration-line: underline;
      color: #366EFF;
    }
  }
}
























