@import "src/common/style/variables";
@import "src/common/style/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 180px;

  h2 {
    @include text(700, 26px, 36px);
  }

  span {
    @include text(400, 16px, 24px);
    color: $dark100;
    margin-bottom: 30px;
  }
}

