@import "src/common/style/variables";
@import "src/common/style/mixins";

.container {
  display: flex;
  flex-direction: column;
  label{
    margin-bottom: 5px;
    @include text(400, 14px, 24px)
  }
}