@import "src/common/style/variables";
@import "src/common/style/mixins";

.backLinkContainer {
  margin-top: 24px;
  align-self: flex-start;
  display: flex;
  align-items: center;

  .backLink {
    @include text(400, 15px, 24px);
    margin-left: 10px;
    text-decoration: none;
    transition: color 250ms ease-in-out;

    &:hover {
      color: $blueColor;
    }
  }
}