@import "src/common/style/variables";

.learnContainer {
  margin-top: 80px;
  width: 420px;
  color: $primaryFontColor;
  background-color: $dark500;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 20px;


  .title {
    font-family: Roboto, serif;
    font-size: 26px;
    font-weight: 700;
    word-break: break-all;
  }

  .questionContainer {
    margin-top: 22px;
    width: 100%;
    overflow: hidden;

    & p {
      color: $dark300;
    }

    .question {
      word-break: break-all;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .button {
    width: 100%;
    height: 36px;
    border-radius: 4px;
    background-color: $pinkColor;
    color: $primaryFontColor;
    outline: none;
    border: none;
    margin-top: 26px;
    cursor: pointer;
  }
}