@import "src/common/style/variables";
@import "src/common/style/mixins";

.learnContainer {
  margin-top: 84px;
  width: 420px;
  color: $primaryFontColor;
  background-color: $dark700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 36px;


  .title {
    @include text(700, 26px, 36px);
    word-break: break-all;
  }

  .questionContainer {
    margin-top: 22px;
    width: 100%;
    overflow: hidden;

    & p {
      color: $dark300;
    }

    .question {
      @include text(700, 16px, 24px);
      word-break: break-all;
    }
    .attemptsCount {
      color: $dark100;
    }
  }
}