@import "src/common/style/color";

.page {
  display: flex;
  justify-content: center;

  .container {
    width: 413px;
    height: 372px;
    margin-top: 180px;
    background: $whiteBGColor;
    box-shadow: $form;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 32px;
      color: $blackColor;
      margin-top: 35px;
    }

    .form {
      width: 347px;
      display: flex;
      flex-direction: column;

      .inputPassword {
        margin-top: 65px;
      }

      p {
        position: absolute;
        top: 45px;
        font-size: 14px;
        line-height: 24px;
      }

      .helperText {
        margin-top: 35px;
        opacity: 0.5;
      }
    }
  }

}