.spanUserName {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 24px;
  margin-top: 40px;
}

.inputUserName {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}