@import "src/common/style/mixins";

.spanUserName {
  @include text(500, 20px, 24px);
  display: flex;
  align-items: center;
  margin-top: 41px;
}

.inputUserName {
  @include text(500, 16px, 24px);

  p {
    position: absolute;
    top: 50px;
  }
}

