@import "src/common/style/mixins";

.coverBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .titles {
    @include text(700, 14px, 24px);
    align-self: flex-start;
    margin-top: 15px;
  }

  img {
    width: fit-content;
    max-height: 130px;
    object-fit: contain;
    border-radius: 5px;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    input {
      display: none;
    }
  }
}























